/* GEAR PAGE STYLING */

.image-wide-border-4 {
    opacity: 1;
    background-image: url("https://cdn.prod.website-files.com/669fd653a78ebf02669a936a/66a161c02c63167108f234e1_slide3.jpg");
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    background-clip: border-box;
    border: 40px solid var(--primary);
    width: 100%;
    height: 800px;
}
.image-wide-border-5 {
    opacity: 1;
    background-image: url("../public/fuji-lens.jpg");
    background-position: 50% 0%;
    background-size: cover;
    background-attachment: fixed;
    background-clip: border-box;
    border: 40px solid var(--primary);
    border-radius: 0;
    width: 100%;
    height: 800px;
}

.spacer {
height: 300px;
}

.flex-block-5 {
justify-content: flex-start;
align-items: flex-start;
}  


