/* HOMEPAGE STYLING */
.big-image {
    object-fit: fill;
    width: 100%;
    padding-top: 0;
    font-family: Oflgoudystmtt normal, sans-serif;
    font-weight: 100;
    overflow: visible;
}

.image-wide-border-1 {
    background-image: url("../public/sinai-road.jpg");
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    background-clip: border-box;
    border: 50px solid var(--secondary);
    width: auto;
    height: 600px;
}

.image-wide-border-2 {
    background-image: url("../public/ohori-park.jpg");
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    background-clip: border-box;
    border: 50px solid var(--secondary);
    width: auto;
    height: 800px;
}

.image-wide-border-3 {
    background-image: url("../public/fukuoka-stalls.jpg");
    background-position: 50% 100%;
    background-size: cover;
    background-attachment: fixed;
    background-clip: border-box;
    border: 50px solid var(--secondary);
    border-radius: 0;
    width: auto;
    height: 800px;
}