
/* NAVIGATION STYLING */
.navbar {
    z-index: 100;
    aspect-ratio: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    position: absolute;
  }
  .navbar_btns {
    justify-content: flex-end;
    width: 100%;
  }
  .flex-block {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .locations_box {
    width: 30%;
    padding-left: 0;
  }
  .location_btn {
    border: 1px solid var(--secondary);
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 0;
    margin-right: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 20px;
    font-size: 140px;
    display: flex;
  }
  .location_btn:hover {
    background-color: var(--transparant);
  }
  .location_btn:focus {
    border-radius: 0;
  }
  .menu_btn {
    border: 1px solid var(--secondary);
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 50px;
    margin-top: 0;
    margin-right: 50px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 140px;
    display: flex;
  }
  .small-screen-menu-btn {
    display: none;
  }
  
  
  /* HAMBURGER MENU STYLING */
  .hamburger-button {
    background-color: var(--transparant);
    border-radius: 100px;
    width: 100%;
    height: 50px;
    padding: 0;
    position: static;
  }
  .hamburger-button:hover {
    border-radius: 0;
  }
  .hamburger-button.w--open {
    background-color: var(--secondary);
    border-radius: 0;
    width: 100%;
  }
  .hamburger-menu-item {
    opacity: 1;
    color: var(--primary);
    text-align: right;
    mix-blend-mode: normal;
    background-color: var(--secondary);
    padding-left: 0;
    padding-right: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 200;
  }
  .hamburger-menu-item:hover {
    color: var(--secondary);
    background-color: var(--transparant);
    border: 1px solid var(--secondary);
  }
  .hamburger-menu {
    background-color: var(--transparant);
    width: 100%;
  }
  .hamburger-menu-list {
    background-color: var(--transparant);
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 10px;
  }
  .menu-text-block {
    color: var(--light-font-color);
    text-align: right;
    font-family: Montserrat, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 100;
    line-height: 100%;
  }