/* NAVIGATION STYLING */
.navbar {
    z-index: 100;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    position: absolute;
}
.flex-block {
    justify-content: space-between; /* Space between the two sections */
    align-items: center;
    width: 100%;
    display: flex;
}

.navbar_btns {
    flex: 0 0 50%; /* Occupies 50% of the width */
    display: flex;
    justify-content: flex-end; /* Align items to the end of the flex container */
    position: relative;
    height: auto;
    margin-right: 10px;
}

.button {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.dark-button {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.button:hover {
  animation: fadeIn 0.4s ease-in-out;
  background-color: #fff2d328;
}

.dark-button:hover {
  animation: fadeInWhite 0.4s ease-in-out;
  background-color: #fff2d3a4;
}

.block {
    position: relative;
    width: 100%;
    height: auto;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


  
.burger-container {
    flex: 0 0 20%; /* Occupies 50% of the width */
    display: flex;
    justify-content: center; /* Align items to the end of the flex container */
    position: relative;
    height: auto;
    margin-right: 10px;
}
  
.burger-container .checkbox {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;

  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
  
.burger-container .hamburger-lines {
  display: block;
  height: 30px;
  width: 100%;

  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.burger-container .hamburger-lines .line {
  display: block;
  height: 5px;
  width: 100%;
  background: var(--secondary);
}

.burger-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.3s ease-in-out;
}

.burger-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.3s ease-in-out;
}
  
  
  
.burger-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: scaleY(100%);
}

.burger-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: scaleY(100%);
}

.fade-in {
  animation: fadeIn 0.4s ease-in-out;
}
  
@keyframes fadeIn {
    from {
        background-color: #fff2d300;
    }
    to {
        background-color: #fff2d328;
    }
}
@keyframes fadeInWhite {
    from {
        background-color: #fff2d300;
    }
    to {
        background-color: #fff2d3a4;
    }
}

@media screen and (min-width: 1200px) {


  .small-screen {
    display: none;
  }
}
@media screen and (max-width: 1200px) {

  .big-screen {
    display: none;
  }

  .small-screen {
    display: contents;
  }

  .block {
    position: relative;
    width: 50%;
    height: auto;
}
}