/* NAVIGATION STYLING */
.navbar {
    z-index: 100;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    position: absolute;
}
.flex-block {
    justify-content: space-between; /* Space between the two sections */
    align-items: center;
    width: 100%;
    display: flex;
}

.navbar_btns {
    flex: 0 0 50%; /* Occupies 50% of the width */
    display: flex;
    justify-content: flex-end; /* Align items to the end of the flex container */
    align-items: center;
    text-align: center;
    position: relative;
    height: auto;
    margin-right: 10px;
}

.button {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.dark-button {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.button:hover {
  animation: fadeInBlack 0.4s ease-in-out;
  color: var(--text-hover-color);

  background-color: #fff2d328;
}

.dark-button:hover {
  animation: fadeInWhite 0.4s ease-in-out;
  color: var(--text-hover-color);
  background-color: #fff2d3a4;
}

.block {
    position: relative;
    width: 100%;
    height: auto;
}

.block a::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 10px; /* Adjust this to control the distance from the text */
  background: var(--text-hover-color); /* Change to the desired color */
  transition: width 0.5s ease;
}

.block a:hover {
  color: var(--text-hover-color);
}

.block a:hover::after {
  width: 100%;
}


.dropdown-content {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


  
.burger-container {
    flex: 0 0 20%; /* Occupies 50% of the width */
    display: flex;
    justify-content: center; /* Align items to the end of the flex container */
    position: relative;
    height: auto;
    margin-right: 10px;
}
  
.burger-container .hamburger-lines {
  display: block;
  height: 30px;
  width: 100%;

  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.burger-container .hamburger-lines .line {
  display: block;
  height: 5px;
  width: 100%;
  background: var(--secondary);
}

.burger-container .hamburger-lines .dark-line {
  display: block;
  height: 5px;
  width: 100%;
  background: var(--thertiary);
}


.burger-container:hover .line,
.burger-container:hover .line1,
.burger-container:hover .line2,
.burger-container:hover .line3 {
    background-color: var(--text-hover-color); /* Change this to the color you want */
}



  



.popover {
  z-index: 1001;
  display: none;
}

.popover:target {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popover .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  background-color: #191919;
  animation: 1s grow ease forwards;
  text-align: center;
}

.nav_list  {
  list-style-type: none;
}

.nav_list a {
  text-decoration: none;
  font-size: 50px;
  color: var(--secondary);
}

.nav_list_item {
  height: 100%;
  overflow: hidden;
}

.nav_list li {
  padding: 15px 0;
  text-transform: uppercase;
  transform: translateY(200px);
  opacity: 0;
  animation: 2s slideUp ease forwards .5s;
  position: relative;
}

.nav_list li::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0px;
  left: 0;
  bottom: 10px;
  background: var(--text-hover-color); 
  transition: all .5s ease;
}

.nav_list li:hover:before {
  width: 100%;
}

.popover p {
  padding: 50px;
  opacity: 0;
  animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  z-index: 1;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  color: var(--primary);
  content: "×";
  cursor: pointer;
  opacity: 0; 
  animation: 1s fadeIn ease forwards .5s;
}

.popover .close:hover::after {
  background-color: var(--text-hover-color); /* Change this to the hover color you want */
}



@keyframes grow {
100% {
  height: 90%;
  width: 90%;
}
}

@keyframes fadeIn {
100% {
opacity: 1;
}
}

@keyframes slideUp {
100% {
  transform: translateY(0);
  opacity: 1;
}
}
@keyframes fadeInBlack {
  from {
      background-color: #fff2d300;
  }
  to {
      background-color: #fff2d328;
  }
}
@keyframes fadeInWhite {
  from {
      background-color: #fff2d300;
  }
  to {
      background-color: #fff2d3a4;
  }
}

@media screen and (min-width: 1200px) {


.small-screen {
  display: none;
}
}
@media screen and (max-width: 1200px) {

.big-screen {
  display: none;
}

.small-screen {
  display: contents;
}

.block {
  position: relative;
  width: 50%;
  height: auto;
}
}